h1 {
    font-family: cursive;
}

h2 {
    font-family: cursive;
    font-size: 500;
}
h3 {
    font-family: cursive;
    font-weight: 50;
    font-size: 300;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: circle;
}

.loaf-fig-cake {
    color: darkgoldenrod;
}

.dark-part {
    color: purple;
}

.sugar-cookies {
    color: sandybrown;
}